@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
    background: linear-gradient(#17191C, #17191C),
        url(/img/mainbackground.png) -56px 21px no-repeat,
        url(/img/mainbackground2.png) -53px 1780px no-repeat;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1140px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.header {
    height: 80px;
    position: relative;
    margin: 0 0 140px;
}

.logo {
    position: absolute;
    top: 34px;
    left: 0;
    font-size: 36px;
    line-height: 1.36;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.menu {
    display: inline-block;
    position: absolute;
    top: 46px;
    left: 420px;
    vertical-align: middle;
}

.menu__item {
    margin: 0 63px 0 0;
}

.menu__link {
    font-weight: 400;
    font-size: 16px;
}

.menu__link:hover {
    color: #8F00FF;
}

.contacts {
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 40px;
    right: 0;
}

.contacts__phone {
    font-size: 26px;
    line-height: 1.2;
}

.contacts__workhours {
    padding: 0 2px 0 0;
    text-align: right;
    font-size: 13px;
    line-height: 1.0;
    text-decoration: underline;
}

.preview {
    margin: 0 0 189px;
}

.preview__title {
    font-size: 60px;
    line-height: 1.08;
    width: 637px;
    margin: 0 0 22px;
}

.preview__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.38;
    margin: 0 0 73px;
    padding-left: 2px;
}

.preview__link {
    width: 170px;
    height: 55px;
    line-height: 1.36;
    text-transform: uppercase;
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 40px;
}

.preview__link:hover {
    background: #741BBA;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    cursor: pointer;
}

.news {
    margin: 0 0 127px 0;
}

.news__title-box {
    position: relative;
    margin: 0 0 -6px 0;
}

.news__title {
    display: inline-block;
    font-size: 36px;
    margin: 0 0 51px;
}

.new__title-icon {
    position: absolute;
    left: 29%;
    top: 6.7%;
}

.new__item.card-item {
    min-height: 449px;
    margin: 0 23px 0 0;
}

.new__item.card-item:last-child {
    margin: 0;
}

.card-item {
    border-radius: 5px 5px 5px 5px;
}

.card-item__cover-wrap {
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.cover-wrap-two {
    padding: 14px 22px 0;
    background: #010101;
}

.cover-wrap-three {
    padding: 7px 20px 0;
    background: #150A18;

}

.card-item__img {
    position: relative;
    left: 0px;
}



.card-item__block {
    width: 362px;
    padding: 31px 0 0 20px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}



.card-item__title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.card-item__features {
    color: #666666;
}

.card-item__feature {
    width: 163px;
}

.card-item__feature-image {
    display: inline-block;
    padding-left: 5px;
}

.card-item__feature-text {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    margin: 0 0 0 5px;
}

.card-item__description {
    color: #303030;
    padding: 18px 0 24px 0;
}

.card-item__link {
    width: 135px;
    height: 55px;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    text-transform: uppercase;
    color: #8F00FF;
    margin: 0 0 25px 0;
}

.card-item__link:hover {
    background: #8F00FF;
    color: #FFFFFF;
}

.past-games {
    margin: 0 0 140px 0;
}

.past-games__list {
    margin: 0 0 57px 0;
}

.past-games__main-title {
    font-size: 36px;
    margin: 0 0 46px;
}

.past-games__item:first-child {
    margin: 0 20px 0 0;
}

.past-games__content {
    width: 508px;
    padding: 0 0 17px 30px;
    position: relative;
    bottom: 145px;
}

.card-news__title {
    font-size: 24px;
    margin: 12px 0 0;
}

.card-news__description {
    font-size: 16px;
}

.pagination {
    margin: -140px 0 0 0;
    text-align: center;
    font-size: 16px;
    position: relative;
    height: 33px;
}

.pagination__display {
    display: inline-block;
    font-weight: 400;
    position: absolute;
    left: 382px;
}

.pagination__item:last-child {
    margin: 0;
}

.pagination__list {
    display: inline-block;
    position: absolute;
    left: 535px;
}

.pagination__link {
    font-weight: 700;
    width: 30px;
    height: 32px;
    display: inline-block;
}

.pagination__link:hover {
    background-color: #8F00FF;
    border-radius: 50%;
}

.about {
    position: relative;
    margin: 0 0 99px 0;
    /* border-bottom: 1px solid #FFFFFF; */
}

.about__card {
    width: 785px;
    height: 455px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    position: absolute;
    left: 352px;
    top: 100px;
    padding: 70px 156px 30px 81px;
}

.about__title {
    font-size: 36px;
    margin: 0 0 34px 0;
}

.about__description {
    font-size: 16px;
    line-height: 1.68;
    margin: 0 0 40px 0;
}

.about__link {
    width: 168px;
    height: 55px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: inherit;
}

.about__link:hover {
    background: #741BBA;
}

hr {
    opacity: 0.1;
}


.footer {
    position: relative;
    height: 133px;
}

.footer__menu {
    left: 291px;
}

.footer__contacts {
    position: absolute;
    bottom: 34px;
    text-align: right;
}

.social {
    position: absolute;
    left: 704px;
    top: 42px;
}

.social__icon {
    margin: 0 6px 0 0;
}

.contacts__description {
    font-size: 11px;
}