@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    margin: 0;
}

body,
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper-main {
    background: #17191C;
    position: relative;
    color: #FFFFFF;
}

.wrapper-main::before {
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    background:
        url(img/mainbackground.png) center center / cover no-repeat;
    filter: grayscale(1);
}

.wrapper-main::after {
    content: '';
    display: block;
    width: 100%;
    height: 1018px;
    position: absolute;
    left: 0;
    bottom: 135px;
    background: url(img/mainbackground2.png) center center / cover no-repeat;
    filter: grayscale(1);
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    list-style-type: none;
}

.btn {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 40px;
    border: 1px solid transparent;
}

.btn:hover {
    background: #741BBA;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    cursor: pointer;
}

.btn--size-small {
    padding: 18px 30px;
}

.btn--theme-bordered {
    border-color: #8F00FF;
    color: #8F00FF;
    background-color: #FFFFFF;
}

.btn--theme-bordered:hover {
    background: #8F00FF;
    color: #FFFFFF;
}

.header {
    height: 80px;
    margin: 0 0 40px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
}

.logo {
    margin-right: 36px;
    font-size: 36px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.menu__link {
    font-weight: 400;
    font-size: 16px;
}

.menu__link:hover {
    color: #8F00FF;
}

.contacts {
    font-style: normal;
    font-weight: 400;
}

.contacts__phone {
    font-size: 26px;
    line-height: 1.2;
}

.contacts__workhours {
    padding: 0 2px 0 0;
    text-align: right;
    font-size: 13px;
    line-height: 1.0;
    text-decoration: underline;
}

.preview {
    margin: 0 0 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 461px;
}

.preview::before {
    content: '';
}

.preview__title {
    font-size: 60px;
    line-height: 1.08;
    width: 60%;
    margin: 0 0 22px;
}

.preview__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.38;
    margin: 0 0 73px;
    padding-left: 2px;
}

.news {
    margin: 0 0 98px 0;
}

.news__title-box {
    display: flex;
    align-items: center;
    margin: 0 0 51px;
}

.news__title-box img {
    width: auto;
}

.news__title {
    font-size: 36px;
    margin-right: 12px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new__item.card-item {
    min-height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new__item.card-item {
    margin-bottom: 25px;
}

.card-item {
    border-radius: 5px 5px 5px 5px;
}

.card-item__cover-wrap {
    height: 144px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-item__cover-wrap--pos--second {
    padding: 14px 22px 0;
    background: #010101;
}

.card-item__cover-wrap--pos--third {
    padding: 7px 20px 0;
    background: #150A18;
}

.card-item__block {
    width: 362px;
    padding: 31px 10px 28px 20px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.card-item__title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.card-item__features {
    color: #666666;
    margin-bottom: 18px;
    display: flex;
}

.card-item__feature {
    width: 163px;
    display: flex;
}

.card-item__feature-image {
    display: inline-block;
    padding-left: 5px;
}

.card-item__feature-image img {
    display: inline-block;
    width: auto;
}

.card-item__feature-text {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    margin: 0 0 0 5px;
}

.card-item__description {
    color: #303030;
    margin-bottom: 24px;
}

.past-games {
    margin: 0 0 145px 0;
}

.past-games__main-title {
    font-size: 36px;
    margin: 0 0 46px;
}

.past-games__list {
    margin: 0 0 52px 0;
    display: flex;
    justify-content: space-between;
}

.past-games__item {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.past-games__item:first-child {
    margin: 0 20px 0 0;
}

.past-games__content {
    padding: 30px 48px 30px 30px;
    position: absolute;
    bottom: 0;
}

.card-news__date {
    display: block;
    margin-bottom: 12px;
}

.card-news__title {
    font-size: 24px;
}

.card-news__description {
    font-size: 16px;
}

.pagination {
    text-align: center;
    font-size: 16px;
    height: 33px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.pagination__display {
    font-weight: 400;
    padding: 4px 0;
    margin-right: 28px;
}

.pagination__list {
    display: flex;
}

.pagination__item:last-child {
    margin: 0;
}

.pagination__link {
    font-weight: 700;
    width: 30px;
    height: 32px;
    display: inline-block;
    padding: 4px;
}

.pagination__item--active {
    background-color: #8F00FF;
    border-radius: 50%;
}

.about {
    position: relative;
    margin-bottom: 56px;
}

.about__container {
    padding-top: 97px;
}

.about__decor {
    width: 489px;
    height: 505px;
    position: absolute;
    left: 0;
    top: 0;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__card {
    max-width: 785px;
    min-height: 455px;
    margin-left: auto;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    padding: 70px 202px 30px 81px;
    position: relative;
    z-index: 1;
}

.about__title {
    font-size: 36px;
    margin: 0 0 34px 0;
}

.about__description {
    font-size: 16px;
    line-height: 1.68;
    margin: 0 0 40px 0;
}

.about__link {
    width: 168px;
    height: 55px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: inherit;
}

.about__link:hover {
    background: #741BBA;
}

.footer {
    height: 133px;
    margin-top: auto;
}

.footer__container {
    border-top: 1px solid #2e3032;
}

.footer__content {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.footer__contacts {
    text-align: right;
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.social__icons {
    display: flex;
}

.social__icon {
    margin: 0 6px 0 0;
}

.contacts__description {
    font-size: 11px;
}

/* services pages */

.top-line__wrapper {
    background: #17191C;
    position: relative;
}

.top-line__wrapper::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 412px;
    background: url(/img/gamesback.png) center center / cover no-repeat;
    filter: grayscale(1);
}

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
}

.top-line__header {
    margin-bottom: 100px;
    color: #FFFFFF;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    color: #FFFFFF;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    color: #9A9A9A;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.breadcrumbs__item::after {
    content: "/";
    padding-left: 2px;
    text-decoration: none;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.page-content {
    background: #F2F2F2;
    color: #303030;
    padding: 100px 0;
}

.service {
    display: flex;
}

.services__item {
    margin-bottom: 50px;
}

.services__item:last-child {
    margin-bottom: 64px;
}

.service__img {
    width: 40%;
    margin-right: 5%;
}

.service__content {
    flex: 1;
    padding: 8px 0;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000000;
}

.service__desc {
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 1.68;
}

.pagination--color {
    color: #000000;
}

.pagination__item--active-color {
    color: #FFFFFF;
}

.inner-section {
    background: #F4F5F5;
    padding: 69px 0 67px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 61px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 74px;
    margin-bottom: 26px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__link {
    display: flex;
    width: 226px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.partners__link img {
    width: auto;
}

.footer-container__section {
    background-color: #17191C;
    color: #FFFFFF;
}

.footer__content--pos {
    z-index: 10;
}