.about {
    position: relative;
    margin-bottom: 56px;
}

.about__container {
    padding-top: 97px;
}

.about__decor {
    width: 489px;
    height: 505px;
    position: absolute;
    left: 0;
    top: 0;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__card {
    max-width: 785px;
    min-height: 455px;
    margin-left: auto;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    padding: 70px 202px 30px 81px;
    position: relative;
    z-index: 1;
}

.about__title {
    font-size: 36px;
    margin: 0 0 34px 0;
}

.about__description {
    font-size: 16px;
    line-height: 1.68;
    margin: 0 0 40px 0;
}

.about__link {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: inherit;
    transition: background 1s;
    padding: 18px 40px;
}

.about__link:hover {
    background: #741BBA;
}