.news {
    margin: 0 0 98px 0;
}

.news__title-box {
    display: flex;
    align-items: center;
    margin: 0 0 51px;
}

.news__title-box img {
    width: auto;
}

.news__title {
    font-size: 36px;
    margin-right: 12px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new__item.card-item {
    min-height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new__item.card-item {
    margin-bottom: 25px;
}