.preview {
    margin: 0 0 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 461px;
}

.preview::before {
    content: '';
}

.preview__title {
    font-size: 60px;
    line-height: 1.08;
    width: 60%;
    margin: 0 0 22px;
}

.preview__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.38;
    margin: 0 0 73px;
    padding-left: 2px;
}