.review {
    display: flex;
    flex-direction: column;
}

.review__header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
}

.review__user::after {
    content: url('img/icons/vk-blue.png');
    height: 29px;
}