.top-line__wrapper {
    background: #17191C;
    position: relative;
}

.top-line__wrapper::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 412px;
    background: url(../../img/gamesback.png) center center / cover no-repeat;
    filter: grayscale(1);
}

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
}

.top-line__header {
    margin-bottom: 100px;
    color: #FFFFFF;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    color: #FFFFFF
}